nodered/flows.json
[{"id":"2b01ef93.61835","type":"tab","label":"TangoWall","disabled":false,"info":""},{"id":"98e06a76.dc4e68","type":"tab","label":"Youtube","disabled":false,"info":""},{"id":"502ab7e5.bc4108","type":"tab","label":"Luci","disabled":false,"info":""},{"id":"888773.9795189","type":"tab","label":"Telegram","disabled":false,"info":""},{"id":"142549aa.98a106","type":"tab","label":"Camera","disabled":false,"info":""},{"id":"e83589f7.e06308","type":"subflow","name":"partywall","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"ea52e09f.618b3"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"9803b167.6512d","type":"subflow","name":"video","info":"","category":"","in":[{"x":80,"y":160,"wires":[{"id":"4dd56e64.6758b"}]}],"out":[{"x":440,"y":220,"wires":[{"id":"4dd56e64.6758b","port":0}]}],"env":[],"color":"#3FADB5","icon":"node-red-contrib-chatbot/chatbot-video.png"},{"id":"fdf2b64d.f37c28","type":"subflow","name":"page","info":"","category":"","in":[{"x":100,"y":160,"wires":[{"id":"8a8d7611.76e288"}]}],"out":[{"x":420,"y":120,"wires":[{"id":"8a8d7611.76e288","port":0}]}],"env":[],"color":"#A6BBCF","icon":"node-red-contrib-chatbot/chatbot-log.png"},{"id":"ddb7e1b9.5483a","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2c8299a.01f6666","type":"chatbot-telegram-node","z":"","botname":"TangoWallBot","usernames":"","providerToken":"","polling":"1000","store":"","log":"","parseMode":"","debug":false,"webHook":"","connectMode":"polling"},{"id":"6a7259eb.6e5f38","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Acme Main Controller","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c7003820.14a498","type":"ui_tab","z":"","name":"TangoWall","icon":"transfer_within_a_station","order":5,"disabled":false,"hidden":false},{"id":"bf87a5c0.c18fe8","type":"ui_group","z":"","name":"Passi","tab":"c7003820.14a498","order":1,"disp":true,"width":"5","collapse":false},{"id":"96bd8a5d.c1d1d8","type":"ui_tab","z":"","name":"Controllo Luci","icon":"lightbulb_outline","order":1,"disabled":false,"hidden":false},{"id":"a42c6e1b.19d19","type":"ui_group","z":"","name":"Luci","tab":"96bd8a5d.c1d1d8","order":1,"disp":false,"width":"6","collapse":false},{"id":"d8b501d4.7144e","type":"mqtt-broker","z":"","name":"toa","broker":"192.168.1.123","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"cee95f65.11344","type":"ui_group","z":"","name":"hidden_group","tab":"80c6272d.b41ed8","disp":false,"width":"6","collapse":false},{"id":"80c6272d.b41ed8","type":"ui_tab","z":"","name":"Zooland Sys","icon":"home","order":3,"disabled":false,"hidden":false},{"id":"62ceb85a.60ff88","type":"ui_group","z":"","name":"Controlli","tab":"c7003820.14a498","order":5,"disp":true,"width":4,"collapse":false},{"id":"14226240.1d6cfe","type":"ui_group","z":"","name":"Consumi","tab":"96bd8a5d.c1d1d8","order":3,"disp":false,"width":"6","collapse":false},{"id":"e037ee73.dbfc8","type":"ui_group","z":"","name":"Varie","tab":"96bd8a5d.c1d1d8","order":2,"disp":false,"width":"6","collapse":false},{"id":"ef49a3a2.68e7d","type":"ui_tab","z":"","name":"Youtube","icon":"fa-youtube-play","order":2,"disabled":false,"hidden":false},{"id":"2361d4d.055ec2c","type":"ui_group","z":"","name":"Generi","tab":"ef49a3a2.68e7d","order":2,"disp":true,"width":4,"collapse":false},{"id":"6272c4a1.8877ac","type":"ui_group","z":"","name":"Control","tab":"ef49a3a2.68e7d","order":3,"disp":true,"width":4,"collapse":false},{"id":"5bd9aa2d.e6e094","type":"mqtt-broker","z":"","name":"baraonda","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6492f81f.5036f8","type":"ui_group","z":"","name":"Tracks","tab":"ef49a3a2.68e7d","order":1,"disp":true,"width":12,"collapse":false},{"id":"b1e4af85.6726","type":"ui_group","z":"","name":"Slot A","tab":"c7003820.14a498","order":2,"disp":true,"width":"2","collapse":false},{"id":"6dbe9898.8ce018","type":"ui_group","z":"","name":"Slot B","tab":"c7003820.14a498","order":3,"disp":true,"width":"2","collapse":false},{"id":"b6cbb222.a928d","type":"ui_group","z":"","name":"Slot C","tab":"c7003820.14a498","order":4,"disp":true,"width":"2","collapse":false},{"id":"3618a155.caf6ce","type":"ui_group","z":"","name":"Demo","tab":"ef49a3a2.68e7d","order":4,"disp":true,"width":4,"collapse":false},{"id":"4ae93973.3f6898","type":"ui_spacer","name":"spacer","group":"2361d4d.055ec2c","order":18,"width":2,"height":1},{"id":"49b1668a.1f86a8","type":"ui_tab","z":"","name":"Camera","icon":"camera","order":5,"disabled":false,"hidden":false},{"id":"fb5aa2cc.b723c","type":"ui_group","name":"Group 1","tab":"49b1668a.1f86a8","order":1,"disp":true,"width":6},{"id":"bf569a73.675118","type":"chatbot-telegram-receive","z":"888773.9795189","bot":"2c8299a.01f6666","botProduction":"","x":170,"y":460,"wires":[["699d9217.d7011c","7d857203.e2590c","5a35ca24.347874","7c1f261a.433f38","cce52bf7.643828","4e859f3d.9e2e1","b6505216.12975","9d77fc8.b8055","7c1fc1b4.79954","4822960f.f03e28","79b5db91.9468e4","ac658956.b5ca68"]]},{"id":"2c5d1457.44215c","type":"file","z":"888773.9795189","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":630,"y":80,"wires":[["1604648.6ee7a9c","559cfd19.8f2084"]]},{"id":"699d9217.d7011c","type":"function","z":"888773.9795189","name":"Video","func":"if (msg.payload.type===\"video\" || msg.payload.type===\"document\") {\n    msg.filename=\"/var/www/html/video/\" + msg.payload.chatId + \".mp4\";\n    msg.payload=msg.payload.content;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":490,"y":80,"wires":[["2c5d1457.44215c"]]},{"id":"22fc6717.dcf3d8","type":"chatbot-telegram-send","z":"888773.9795189","bot":"2c8299a.01f6666","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":1410,"y":560,"wires":[]},{"id":"95dd891b.d94d98","type":"chatbot-inline-buttons","z":"888773.9795189","name":"Moviola A","buttons":[{"type":"postback","label":"Lento","value":"/slow_a","answer":"","alert":false,"style":""},{"type":"postback","label":"Pausa","value":"/pause_a","answer":"","alert":false,"style":""},{"type":"postback","label":"Normale","value":"/normal_a","answer":"","alert":false,"style":""},{"type":"newline"},{"type":"postback","label":"-2 sec","value":"/seek_prev_a","answer":"","alert":false,"style":""},{"type":"postback","label":"+2 sec","value":"/seek_next_a","answer":"","alert":false,"style":""},{"type":"newline"},{"type":"postback","label":"Inizio","value":"/reload_a","answer":"","alert":false,"style":""},{"type":"postback","label":"Off","value":"/off_a","answer":"","alert":false,"style":""},{"type":"newline"},{"type":"postback","label":"A","value":"/video_a","answer":"","alert":false,"style":""},{"type":"postback","label":"B","value":"/video_b","answer":"","alert":false,"style":""},{"type":"postback","label":"C","value":"/video_c","answer":"","alert":false,"style":""}],"message":"Moviola slot A","x":880,"y":600,"wires":[["22fc6717.dcf3d8"]]},{"id":"7d857203.e2590c","type":"function","z":"888773.9795189","name":"/video_a","func":"if (msg.payload.type===\"message\") {\n    if (msg.payload.content===\"/video_a\") {\n        return msg;\n    }\n}    \n","outputs":1,"noerr":0,"x":680,"y":600,"wires":[["95dd891b.d94d98"]]},{"id":"1604648.6ee7a9c","type":"function","z":"888773.9795189","name":"VideoArchive","func":"msg.payload=\"cp \" + msg.filename + \" /var/www/html/videoarchive/\" +  Date.now() + \".mp4\";\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":80,"wires":[["bc5328e9.2398f8"]]},{"id":"bc5328e9.2398f8","type":"exec","z":"888773.9795189","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":990,"y":80,"wires":[[],[],[]]},{"id":"e8bf8a1f.6a5858","type":"mqtt out","z":"888773.9795189","name":"","topic":"tangowall/cmd","qos":"","retain":"","broker":"ddb7e1b9.5483a","x":900,"y":800,"wires":[]},{"id":"5a35ca24.347874","type":"function","z":"888773.9795189","name":"Check command","func":"if (msg.payload.type===\"message\") {\n    if (msg.payload.content===\"/slow_a\") {\n        msg.payload={\"cmd\": \"play\",\"playbackRate\":0.5,\"element\": \"slot_a\"};\n        return msg;\n    }\n\n    if (msg.payload.content===\"/normal_a\") {\n        msg.payload={\"cmd\": \"play\",\"playbackRate\":1,\"element\": \"slot_a\"};\n        return msg;\n    } \n\n    if (msg.payload.content===\"/pause_a\") {\n        msg.payload={\"cmd\": \"pause\",\"element\": \"slot_a\"};\n        return msg;\n    }     \n    \n    if (msg.payload.content===\"/reload_a\") {\n        msg.payload={\"cmd\": \"current_time\",\"element\": \"slot_a\",\"current_time\":0};\n        return msg;\n    }        \n\n    if (msg.payload.content===\"/off_a\") {\n        msg.payload={\"cmd\": \"load\",\"filename\":\"video/placeholder_a.m4v\",\"element\": \"slot_a\"};\n        return msg;\n    }        \n\n    if (msg.payload.content===\"/seek_prev_a\") {\n        msg.payload={\"cmd\": \"seek\",\"element\": \"slot_a\",\"offset\":-2};\n        return msg;\n    }    \n    \n    if (msg.payload.content===\"/seek_next_a\") {\n        msg.payload={\"cmd\": \"seek\",\"element\": \"slot_a\",\"offset\":2};\n        return msg;\n    }  \n    \n    if (msg.payload.content===\"/slow_b\") {\n        msg.payload={\"cmd\": \"play\",\"playbackRate\":0.5,\"element\": \"slot_b\"};\n        return msg;\n    }\n\n    if (msg.payload.content===\"/normal_b\") {\n        msg.payload={\"cmd\": \"play\",\"playbackRate\":1,\"element\": \"slot_b\"};\n        return msg;\n    } \n\n    if (msg.payload.content===\"/pause_b\") {\n        msg.payload={\"cmd\": \"pause\",\"element\": \"slot_b\"};\n        return msg;\n    }     \n    \n    if (msg.payload.content===\"/reload_b\") {\n        msg.payload={\"cmd\": \"current_time\",\"element\": \"slot_b\",\"current_time\":0};\n        return msg;\n    }        \n\n    if (msg.payload.content===\"/off_b\") {\n        msg.payload={\"cmd\": \"load\",\"filename\":\"video/placeholder_b.m4v\",\"element\": \"slot_b\"};\n        return msg;\n    }        \n\n    if (msg.payload.content===\"/seek_prev_b\") {\n        msg.payload={\"cmd\": \"seek\",\"element\": \"slot_b\",\"offset\":-2};\n        return msg;\n    }    \n    \n    if (msg.payload.content===\"/seek_next_b\") {\n        msg.payload={\"cmd\": \"seek\",\"element\": \"slot_b\",\"offset\":2};\n        return msg;\n    }  \n\n    if (msg.payload.content===\"/slow_c\") {\n        msg.payload={\"cmd\": \"play\",\"playbackRate\":0.5,\"element\": \"slot_c\"};\n        return msg;\n    }\n\n    if (msg.payload.content===\"/normal_c\") {\n        msg.payload={\"cmd\": \"play\",\"playbackRate\":1,\"element\": \"slot_c\"};\n        return msg;\n    } \n\n    if (msg.payload.content===\"/pause_c\") {\n        msg.payload={\"cmd\": \"pause\",\"element\": \"slot_c\"};\n        return msg;\n    }     \n    \n    if (msg.payload.content===\"/reload_c\") {\n        msg.payload={\"cmd\": \"current_time\",\"element\": \"slot_c\",\"current_time\":0};\n        return msg;\n    }        \n\n    if (msg.payload.content===\"/off_c\") {\n        msg.payload={\"cmd\": \"load\",\"filename\":\"video/placeholder_c.m4v\",\"element\": \"slot_c\"};\n        return msg;\n    }        \n\n    if (msg.payload.content===\"/seek_prev_c\") {\n        msg.payload={\"cmd\": \"seek\",\"element\": \"slot_c\",\"offset\":-2};\n        return msg;\n    }    \n    \n    if (msg.payload.content===\"/seek_next_c\") {\n        msg.payload={\"cmd\": \"seek\",\"element\": \"slot_c\",\"offset\":2};\n        return msg;\n    }  \n    \n}    ","outputs":1,"noerr":0,"x":710,"y":900,"wires":[["e8bf8a1f.6a5858"]]},{"id":"e600a903.38cf08","type":"chatbot-inline-buttons","z":"888773.9795189","name":"Moviola B","buttons":[{"type":"postback","label":"Lento","value":"/slow_b","answer":"","alert":false,"style":""},{"type":"postback","label":"Pausa","value":"/pause_b","answer":"","alert":false,"style":""},{"type":"postback","label":"Normale","value":"/normal_b","answer":"","alert":false,"style":""},{"type":"newline"},{"type":"postback","label":"-2 sec","value":"/seek_prev_b","answer":"","alert":false,"style":""},{"type":"postback","label":"+2 sec","value":"/seek_next_b","answer":"","alert":false,"style":""},{"type":"newline"},{"type":"postback","label":"Inizio","value":"/reload_b","answer":"","alert":false,"style":""},{"type":"postback","label":"Off","value":"/off_b","answer":"","alert":false,"style":""},{"type":"newline"},{"type":"postback","label":"A","value":"/video_a","answer":"","alert":false,"style":""},{"type":"postback","label":"B","value":"/video_b","answer":"","alert":false,"style":""},{"type":"postback","label":"C","value":"/video_c","answer":"","alert":false,"style":""}],"message":"Moviola slot B","x":880,"y":640,"wires":[["22fc6717.dcf3d8"]]},{"id":"7c1f261a.433f38","type":"function","z":"888773.9795189","name":"/video_b","func":"if (msg.payload.type===\"message\") {\n    if (msg.payload.content===\"/video_b\") {\n        return msg;\n    }\n}    \n","outputs":1,"noerr":0,"x":680,"y":640,"wires":[["e600a903.38cf08"]]},{"id":"de4bcfe3.b4ed3","type":"chatbot-inline-buttons","z":"888773.9795189","name":"Moviola C","buttons":[{"type":"postback","label":"Lento","value":"/slow_c","answer":"","alert":false,"style":""},{"type":"postback","label":"Pausa","value":"/pause_c","answer":"","alert":false,"style":""},{"type":"postback","label":"Normale","value":"/normal_c","answer":"","alert":false,"style":""},{"type":"newline"},{"type":"postback","label":"-2 sec","value":"/seek_prev_c","answer":"","alert":false,"style":""},{"type":"postback","label":"+2 sec","value":"/seek_next_c","answer":"","alert":false,"style":""},{"type":"newline"},{"type":"postback","label":"Inizio","value":"/reload_c","answer":"","alert":false,"style":""},{"type":"postback","label":"Off","value":"/off_c","answer":"","alert":false,"style":""},{"type":"newline"},{"type":"postback","label":"A","value":"/video_a","answer":"","alert":false,"style":""},{"type":"postback","label":"B","value":"/video_b","answer":"","alert":false,"style":""},{"type":"postback","label":"C","value":"/video_c","answer":"","alert":false,"style":""}],"message":"Moviola slot C","x":880,"y":680,"wires":[["22fc6717.dcf3d8"]]},{"id":"cce52bf7.643828","type":"function","z":"888773.9795189","name":"/video_c","func":"if (msg.payload.type===\"message\") {\n    if (msg.payload.content===\"/video_c\") {\n        return msg;\n    }\n}    \n","outputs":1,"noerr":0,"x":680,"y":680,"wires":[["de4bcfe3.b4ed3"]]},{"id":"4e859f3d.9e2e1","type":"function","z":"888773.9795189","name":"/start","func":"if (msg.payload.type===\"message\") {\n    if (msg.payload.content===\"/start\") {\n        return msg;\n    }\n}    \n","outputs":1,"noerr":0,"x":670,"y":540,"wires":[["d59391e5.8363c"]]},{"id":"d59391e5.8363c","type":"chatbot-ask","z":"888773.9795189","name":"","buttons":[{"type":"keyboardButton","label":"ON"},{"type":"keyboardButton","label":"OFF"}],"message":"Select video slot","x":890,"y":540,"wires":[["22fc6717.dcf3d8"]]},{"id":"559cfd19.8f2084","type":"chatbot-inline-buttons","z":"888773.9795189","name":"","buttons":[{"type":"postback","label":"A","value":"/send_on_a","answer":"","alert":false,"style":""},{"type":"postback","label":"B","value":"/send_on_b","answer":"","alert":false,"style":""},{"type":"postback","label":"C","value":"/send_on_c","answer":"","alert":false,"style":""}],"message":"Seleziona lo slot dove visualzzare:","x":780,"y":140,"wires":[["22fc6717.dcf3d8"]]},{"id":"b6505216.12975","type":"function","z":"888773.9795189","name":"/send_on_a","func":"if (msg.payload.type===\"message\") {\n    if (msg.payload.content===\"/send_on_a\") {\n        var now_string=Date.now();\n        msg.filename=\"video_a/\" + msg.payload.chatId + \"_\" + now_string + \".mp4\";\n        msg.payload=\"cp -f /var/www/html/video/\" +  msg.payload.chatId + \".mp4 /var/www/html/video_a/\" +  msg.payload.chatId + \"_\" + now_string + \".mp4\";\n        return msg;\n    }\n}    \n","outputs":1,"noerr":0,"x":630,"y":260,"wires":[["22d921a.57d0ade","95dd891b.d94d98"]]},{"id":"22d921a.57d0ade","type":"exec","z":"888773.9795189","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":830,"y":260,"wires":[[],[],["400b4a25.3edf94"]]},{"id":"d288db2f.812e08","type":"exec","z":"888773.9795189","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":830,"y":320,"wires":[[],[],["3e2d4736.de2258"]]},{"id":"373269ec.e66c76","type":"exec","z":"888773.9795189","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":830,"y":380,"wires":[[],[],["b73dabd7.ab4ff8"]]},{"id":"400b4a25.3edf94","type":"function","z":"888773.9795189","name":"Load command","func":"msg.payload={\"cmd\": \"load\",\"filename\":msg.filename,\"element\": \"slot_a\"};\nreturn msg;\n","outputs":1,"noerr":0,"x":1060,"y":280,"wires":[["df02a2d5.cbf39"]]},{"id":"df02a2d5.cbf39","type":"mqtt out","z":"888773.9795189","name":"","topic":"tangowall/cmd","qos":"","retain":"","broker":"ddb7e1b9.5483a","x":1440,"y":380,"wires":[]},{"id":"3e2d4736.de2258","type":"function","z":"888773.9795189","name":"Load command","func":"msg.payload={\"cmd\": \"load\",\"filename\":msg.filename,\"element\": \"slot_b\"};\nreturn msg;\n","outputs":1,"noerr":0,"x":1060,"y":340,"wires":[["df02a2d5.cbf39"]]},{"id":"b73dabd7.ab4ff8","type":"function","z":"888773.9795189","name":"Load command","func":"msg.payload={\"cmd\": \"load\",\"filename\":msg.filename,\"element\": \"slot_c\"};\nreturn msg;\n","outputs":1,"noerr":0,"x":1060,"y":400,"wires":[["df02a2d5.cbf39"]]},{"id":"9d77fc8.b8055","type":"function","z":"888773.9795189","name":"/send_on_b","func":"if (msg.payload.type===\"message\") {\n    if (msg.payload.content===\"/send_on_b\") {\n        var now_string=Date.now();\n        msg.filename=\"video_b/\" + msg.payload.chatId + \"_\" + now_string + \".mp4\";\n        msg.payload=\"cp -f /var/www/html/video/\" +  msg.payload.chatId + \".mp4 /var/www/html/video_b/\" +  msg.payload.chatId + \"_\" + now_string + \".mp4\";\n        return msg;\n    }\n}    \n","outputs":1,"noerr":0,"x":630,"y":320,"wires":[["d288db2f.812e08","e600a903.38cf08"]]},{"id":"7c1fc1b4.79954","type":"function","z":"888773.9795189","name":"/send_on_c","func":"if (msg.payload.type===\"message\") {\n    if (msg.payload.content===\"/send_on_c\") {\n        var now_string=Date.now();\n        msg.filename=\"video_c/\" + msg.payload.chatId + \"_\" + now_string + \".mp4\";\n        msg.payload=\"cp -f /var/www/html/video/\" +  msg.payload.chatId + \".mp4 /var/www/html/video_c/\" +  msg.payload.chatId + \"_\" + now_string + \".mp4\";\n        return msg;\n    }\n}    \n","outputs":1,"noerr":0,"x":630,"y":380,"wires":[["373269ec.e66c76","de4bcfe3.b4ed3"]]},{"id":"4822960f.f03e28","type":"function","z":"888773.9795189","name":"ON","func":"if (msg.payload.type===\"message\") {\n    if (msg.payload.content===\"ON\") {\n        msg.payload={\"cmd\":\"visibility\",\"element\":\"videowall\",\"value\":true};\n        return msg;\n    }    \n}    \n","outputs":1,"noerr":0,"x":670,"y":800,"wires":[["e8bf8a1f.6a5858"]]},{"id":"79b5db91.9468e4","type":"function","z":"888773.9795189","name":"OFF","func":"if (msg.payload.type===\"message\") {\n    if (msg.payload.content===\"OFF\") {\n        msg.payload={\"cmd\":\"visibility\",\"element\":\"videowall\",\"value\":false};\n        return msg;\n    }\n}    \n","outputs":1,"noerr":0,"x":670,"y":840,"wires":[["e8bf8a1f.6a5858"]]},{"id":"6e09268a.be85c8","type":"comment","z":"2b01ef93.61835","name":"Tango","info":"","x":110,"y":20,"wires":[]},{"id":"f815b226.1e69f","type":"ui_switch","z":"502ab7e5.bc4108","name":"","label":"Uffici","tooltip":"","group":"a42c6e1b.19d19","order":3,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":530,"y":360,"wires":[["c9bdbabb.980238"]]},{"id":"6c189d7c.242e74","type":"mqtt out","z":"502ab7e5.bc4108","name":"","topic":"toa/lights/12/set_value","qos":"","retain":"","broker":"d8b501d4.7144e","x":860,"y":360,"wires":[]},{"id":"c9bdbabb.980238","type":"function","z":"502ab7e5.bc4108","name":"","func":"if (msg.payload===true) {\n    msg.payload=255;\n} else {\n    msg.payload=0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":360,"wires":[["6c189d7c.242e74"]]},{"id":"a0ed360a.ef9918","type":"mqtt in","z":"502ab7e5.bc4108","name":"","topic":"toa/lights/12/current_value","qos":"2","datatype":"auto","broker":"d8b501d4.7144e","x":160,"y":360,"wires":[["4b0cce45.6de01"]]},{"id":"4b0cce45.6de01","type":"function","z":"502ab7e5.bc4108","name":"","func":"if (msg.payload===\"255\") {\n    msg.payload=true;\n} else {\n    msg.payload=false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":360,"wires":[["f815b226.1e69f"]]},{"id":"f3c00a30.4f4f28","type":"ui_switch","z":"502ab7e5.bc4108","name":"","label":"Cucina","tooltip":"","group":"a42c6e1b.19d19","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":540,"y":300,"wires":[["272025c9.84ba8a"]]},{"id":"30b5a311.c1c0cc","type":"mqtt out","z":"502ab7e5.bc4108","name":"","topic":"toa/lights/11/set_value","qos":"","retain":"","broker":"d8b501d4.7144e","x":860,"y":300,"wires":[]},{"id":"272025c9.84ba8a","type":"function","z":"502ab7e5.bc4108","name":"","func":"if (msg.payload===true) {\n    msg.payload=255;\n} else {\n    msg.payload=0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":300,"wires":[["30b5a311.c1c0cc"]]},{"id":"9c629918.51c578","type":"mqtt in","z":"502ab7e5.bc4108","name":"","topic":"toa/lights/11/current_value","qos":"2","datatype":"auto","broker":"d8b501d4.7144e","x":160,"y":300,"wires":[["a209d63.bad7d28"]]},{"id":"a209d63.bad7d28","type":"function","z":"502ab7e5.bc4108","name":"","func":"if (msg.payload===\"255\") {\n    msg.payload=true;\n} else {\n    msg.payload=false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":300,"wires":[["f3c00a30.4f4f28"]]},{"id":"202f216d.baad4e","type":"ui_template","z":"502ab7e5.bc4108","group":"cee95f65.11344","name":"Clock Toolbar","order":2,"width":"0","height":"0","format":"<script id=\"titleScript\" type=\"text/javascript\">\n\n$(function() {\n    if($('.md-toolbar-tools').length != 0){\n        loadClock();\n    }else setTimeout(loadClock, 500)\n});\n\nfunction loadClock(){\n    $('#clock').remove();\n    var toolbar = $('.md-toolbar-tools');\n    \n    var div = $('<div/>');\n    var p = $('<p/ id=\"clock\">');\n    \n    div.append(p);\n    div[0].style.margin = '5px 5px 5px auto';\n    toolbar.append(div);\n\n    function displayTitle(lh) {\n        p.text(lh); \n    }\n    \n    function upTime() {\n        var d = new Date();\n        p.text(d.toLocaleString());\n    }\n\n    if(document.clockInterval){ \n            clearInterval(document.clockInterval);\n            document.clockInterval = null;\n    }\n        \n    document.clockInterval = setInterval(upTime,1000);\n}\n\n</script>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"global","x":640,"y":160,"wires":[[]]},{"id":"7f88fcd6.cd0c14","type":"ui_switch","z":"502ab7e5.bc4108","name":"","label":"Sala","tooltip":"","group":"a42c6e1b.19d19","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":530,"y":240,"wires":[["52be55e6.d4701c"]]},{"id":"de256eee.e4e6b","type":"mqtt out","z":"502ab7e5.bc4108","name":"","topic":"toa/lights/10/set_value","qos":"","retain":"","broker":"d8b501d4.7144e","x":860,"y":240,"wires":[]},{"id":"52be55e6.d4701c","type":"function","z":"502ab7e5.bc4108","name":"","func":"if (msg.payload===true) {\n    msg.payload=255;\n} else {\n    msg.payload=0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":240,"wires":[["de256eee.e4e6b"]]},{"id":"d242b2bd.e15d2","type":"mqtt in","z":"502ab7e5.bc4108","name":"","topic":"toa/lights/10/current_value","qos":"2","datatype":"auto","broker":"d8b501d4.7144e","x":160,"y":240,"wires":[["60bdedc1.21d7b4"]]},{"id":"60bdedc1.21d7b4","type":"function","z":"502ab7e5.bc4108","name":"","func":"if (msg.payload===\"255\") {\n    msg.payload=true;\n} else {\n    msg.payload=false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":240,"wires":[["7f88fcd6.cd0c14"]]},{"id":"4dc7c880.a36698","type":"ui_switch","z":"502ab7e5.bc4108","name":"","label":"Scala","tooltip":"","group":"a42c6e1b.19d19","order":3,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":530,"y":420,"wires":[["eb50e145.be858"]]},{"id":"443e6d0.9274194","type":"mqtt out","z":"502ab7e5.bc4108","name":"","topic":"toa/lights/3/set_value","qos":"","retain":"","broker":"d8b501d4.7144e","x":860,"y":420,"wires":[]},{"id":"eb50e145.be858","type":"function","z":"502ab7e5.bc4108","name":"","func":"if (msg.payload===true) {\n    msg.payload=255;\n} else {\n    msg.payload=0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":420,"wires":[["443e6d0.9274194"]]},{"id":"55899575.e040fc","type":"mqtt in","z":"502ab7e5.bc4108","name":"","topic":"toa/lights/3/current_value","qos":"2","datatype":"auto","broker":"d8b501d4.7144e","x":160,"y":420,"wires":[["5d1a85c8.2a428c"]]},{"id":"5d1a85c8.2a428c","type":"function","z":"502ab7e5.bc4108","name":"","func":"if (msg.payload===\"255\") {\n    msg.payload=true;\n} else {\n    msg.payload=false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":420,"wires":[["4dc7c880.a36698"]]},{"id":"fdd3b762.815f78","type":"ui_gauge","z":"502ab7e5.bc4108","name":"","group":"14226240.1d6cfe","order":4,"width":0,"height":0,"gtype":"gage","title":"Consumi","label":"KW","format":"{{value}}","min":"-30","max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"0","seg2":"2","x":580,"y":1200,"wires":[]},{"id":"a56a73c9.1ca64","type":"mqtt in","z":"502ab7e5.bc4108","name":"","topic":"toa/cm3panel","qos":"2","datatype":"auto","broker":"d8b501d4.7144e","x":150,"y":1200,"wires":[["a5e2a3db.97d21"]]},{"id":"3d5a3cbe.429c54","type":"function","z":"502ab7e5.bc4108","name":"","func":"if (msg.payload[\"cmd\"]==\"enel_value\") {\n    msg.payload=msg.payload[\"value\"];\n    return msg;\n}\n","outputs":1,"noerr":0,"x":430,"y":1200,"wires":[["fdd3b762.815f78"]]},{"id":"a5e2a3db.97d21","type":"json","z":"502ab7e5.bc4108","name":"","property":"payload","action":"","pretty":false,"x":300,"y":1200,"wires":[["3d5a3cbe.429c54"]]},{"id":"192d29d0.30dff6","type":"ui_button","z":"2b01ef93.61835","name":"","group":"b1e4af85.6726","order":1,"width":2,"height":1,"passthru":false,"label":"Load","tooltip":"","color":"","bgcolor":"","icon":"fa-upload","payload":"slot_a","payloadType":"str","topic":"","x":740,"y":100,"wires":[["8c03bb51.32a8d8"]]},{"id":"5df664b2.5a9c4c","type":"ui_button","z":"2b01ef93.61835","name":"","group":"6dbe9898.8ce018","order":1,"width":2,"height":1,"passthru":false,"label":"Load","tooltip":"","color":"","bgcolor":"","icon":"fa-upload","payload":"slot_b","payloadType":"str","topic":"","x":740,"y":140,"wires":[["8c03bb51.32a8d8"]]},{"id":"d5528bb1.569f88","type":"ui_button","z":"2b01ef93.61835","name":"","group":"b6cbb222.a928d","order":1,"width":2,"height":1,"passthru":false,"label":"Load","tooltip":"","color":"","bgcolor":"","icon":"fa-upload","payload":"slot_c","payloadType":"str","topic":"","x":740,"y":180,"wires":[["8c03bb51.32a8d8"]]},{"id":"24a10ad9.da32c6","type":"function","z":"2b01ef93.61835","name":"","func":"flow.set(\"videofilename\",msg.payload)\nnode.status({fill:\"green\",shape:\"dot\",text:msg.payload});\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":80,"wires":[[]]},{"id":"8c03bb51.32a8d8","type":"function","z":"2b01ef93.61835","name":"Send","func":"filename=flow.get(\"videofilename\");\n\n//node.status({fill:\"green\",shape:\"dot\",text:msg.payload});\nnode.status({fill:\"green\",shape:\"dot\",text:filename});\n\nmsg.payload={\"cmd\": \"load\",\"filename\":filename,\"element\": msg.payload};\nreturn msg;\n","outputs":1,"noerr":0,"x":930,"y":180,"wires":[["fda68db8.803b3"]]},{"id":"fda68db8.803b3","type":"mqtt out","z":"2b01ef93.61835","name":"","topic":"tangowall/cmd","qos":"","retain":"","broker":"ddb7e1b9.5483a","x":1180,"y":200,"wires":[]},{"id":"7614ddc6.e6ff14","type":"inject","z":"2b01ef93.61835","name":"","topic":"","payload":"sudo reboot","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1150,"y":540,"wires":[["229f9720.103348"]]},{"id":"229f9720.103348","type":"mqtt out","z":"2b01ef93.61835","name":"","topic":"totem/shell","qos":"","retain":"","broker":"ddb7e1b9.5483a","x":1350,"y":540,"wires":[]},{"id":"95632a54.1e0888","type":"inject","z":"2b01ef93.61835","name":"","topic":"","payload":"sudo halt","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1140,"y":580,"wires":[["229f9720.103348"]]},{"id":"cdd3b73a.8fc268","type":"ui_switch","z":"502ab7e5.bc4108","name":"","label":"Biliardino","tooltip":"","group":"e037ee73.dbfc8","order":3,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":540,"y":540,"wires":[["b8dc1995.340bd8"]]},{"id":"b8dc1995.340bd8","type":"mqtt out","z":"502ab7e5.bc4108","name":"","topic":"sonoff-s26/011/cmnd/POWER","qos":"","retain":"","broker":"d8b501d4.7144e","x":890,"y":540,"wires":[]},{"id":"ce1ff2df.362cc","type":"ui_switch","z":"502ab7e5.bc4108","name":"","label":"Piantane Sala","tooltip":"","group":"a42c6e1b.19d19","order":3,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":560,"y":600,"wires":[["c94b54ca.379988","c3758ca6.311db","f22afd29.a9e0b","a7057bb4.8e0dd8","d0c2f913.192168","bcc5b949.87ebb8"]]},{"id":"c94b54ca.379988","type":"mqtt out","z":"502ab7e5.bc4108","name":"","topic":"sonoff-s26/023/cmnd/POWER","qos":"","retain":"","broker":"d8b501d4.7144e","x":890,"y":600,"wires":[]},{"id":"c3758ca6.311db","type":"mqtt out","z":"502ab7e5.bc4108","name":"","topic":"sonoff-s26/018/cmnd/POWER","qos":"","retain":"","broker":"d8b501d4.7144e","x":890,"y":660,"wires":[]},{"id":"f22afd29.a9e0b","type":"mqtt out","z":"502ab7e5.bc4108","name":"","topic":"sonoff-s26/004/cmnd/POWER","qos":"","retain":"","broker":"d8b501d4.7144e","x":890,"y":720,"wires":[]},{"id":"a7057bb4.8e0dd8","type":"mqtt out","z":"502ab7e5.bc4108","name":"","topic":"sonoff-s26/012/cmnd/POWER","qos":"","retain":"","broker":"d8b501d4.7144e","x":890,"y":780,"wires":[]},{"id":"813e8ca8.6245","type":"ui_switch","z":"502ab7e5.bc4108","name":"","label":"Discolight","tooltip":"","group":"e037ee73.dbfc8","order":3,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":540,"y":480,"wires":[["49363dd0.6aea54"]]},{"id":"2fd2f65e.398a2a","type":"mqtt out","z":"502ab7e5.bc4108","name":"","topic":"toa/lights/28/set_value","qos":"","retain":"","broker":"d8b501d4.7144e","x":860,"y":480,"wires":[]},{"id":"49363dd0.6aea54","type":"function","z":"502ab7e5.bc4108","name":"","func":"if (msg.payload===true) {\n    msg.payload=255;\n} else {\n    msg.payload=0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":480,"wires":[["2fd2f65e.398a2a"]]},{"id":"1c51ff8e.22d81","type":"mqtt in","z":"502ab7e5.bc4108","name":"","topic":"toa/lights/28/current_value","qos":"2","datatype":"auto","broker":"d8b501d4.7144e","x":160,"y":480,"wires":[["d6dc3190.2496a"]]},{"id":"d6dc3190.2496a","type":"function","z":"502ab7e5.bc4108","name":"","func":"if (msg.payload===\"255\") {\n    msg.payload=true;\n} else {\n    msg.payload=false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":480,"wires":[["813e8ca8.6245"]]},{"id":"22baf2bc.98dc0e","type":"function","z":"98e06a76.dc4e68","name":"youtube_id","func":"function youtube_parser(url){\n\tvar regExp = /^.*(youtu\\.be\\/|v\\/|u\\/\\w\\/|embed\\/|watch\\?v=|\\&v=)([^#\\&\\?]*).*/;\n\tvar match = url.match(regExp);\n\tif (match && match[2].length == 11) {\n\t  return match[2];\n\t} else {\n\t  //error\n\t}\n}\n\nmsg.payload=youtube_parser(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":90,"y":40,"wires":[[]]},{"id":"208a88a3.274668","type":"mqtt out","z":"98e06a76.dc4e68","name":"","topic":"tangowall/cmd","qos":"","retain":"","broker":"ddb7e1b9.5483a","x":1860,"y":160,"wires":[]},{"id":"e68717e8.6309a8","type":"ui_button","z":"98e06a76.dc4e68","name":"","group":"6272c4a1.8877ac","order":2,"width":2,"height":2,"passthru":true,"label":"Pause","tooltip":"","color":"","bgcolor":"","icon":"fa-stop","payload":"{\"cmd\":\"youtube_pause\"}","payloadType":"json","topic":"","x":1610,"y":180,"wires":[["208a88a3.274668"]]},{"id":"33437491.bd8e3c","type":"inject","z":"98e06a76.dc4e68","name":"Pause","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1430,"y":180,"wires":[["e68717e8.6309a8"]]},{"id":"c3712a99.363268","type":"ui_button","z":"98e06a76.dc4e68","name":"","group":"6272c4a1.8877ac","order":1,"width":2,"height":2,"passthru":true,"label":"Play","tooltip":"","color":"","bgcolor":"","icon":"fa-play","payload":"{\"cmd\":\"youtube_play\"}","payloadType":"json","topic":"","x":1610,"y":140,"wires":[["208a88a3.274668"]]},{"id":"cd722e5a.fc83a","type":"inject","z":"98e06a76.dc4e68","name":"Play","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1430,"y":140,"wires":[["c3712a99.363268"]]},{"id":"d0c2f913.192168","type":"mqtt out","z":"502ab7e5.bc4108","name":"","topic":"sonoff-s26/022/cmnd/POWER","qos":"","retain":"","broker":"d8b501d4.7144e","x":890,"y":840,"wires":[]},{"id":"bcc5b949.87ebb8","type":"mqtt out","z":"502ab7e5.bc4108","name":"","topic":"sonoff-s26/014/cmnd/POWER","qos":"","retain":"","broker":"d8b501d4.7144e","x":890,"y":900,"wires":[]},{"id":"db27dd6.432a32","type":"ui_switch","z":"502ab7e5.bc4108","name":"","label":"Piantane Scale","tooltip":"","group":"a42c6e1b.19d19","order":3,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":580,"y":1000,"wires":[["36c17626.c1110a","e459d9ae.e44448","b788bb4f.d066a8"]]},{"id":"36c17626.c1110a","type":"mqtt out","z":"502ab7e5.bc4108","name":"","topic":"sonoff-s26/008/cmnd/POWER","qos":"","retain":"","broker":"d8b501d4.7144e","x":890,"y":1000,"wires":[]},{"id":"e459d9ae.e44448","type":"mqtt out","z":"502ab7e5.bc4108","name":"","topic":"sonoff-s26/015/cmnd/POWER","qos":"","retain":"","broker":"d8b501d4.7144e","x":890,"y":1040,"wires":[]},{"id":"b788bb4f.d066a8","type":"mqtt out","z":"502ab7e5.bc4108","name":"","topic":"sonoff-s26/024/cmnd/POWER","qos":"","retain":"","broker":"d8b501d4.7144e","x":890,"y":1080,"wires":[]},{"id":"7ae27084.c8e78","type":"mqtt out","z":"2b01ef93.61835","name":"","topic":"tangowall/cmd","qos":"","retain":"","broker":"ddb7e1b9.5483a","x":1460,"y":700,"wires":[]},{"id":"77d4ddac.62a1e4","type":"ui_button","z":"2b01ef93.61835","name":"","group":"b1e4af85.6726","order":5,"width":2,"height":1,"passthru":false,"label":"Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1110,"y":660,"wires":[["ffef2bef.71c7b8"]]},{"id":"ddd620b5.b125c","type":"ui_button","z":"2b01ef93.61835","name":"","group":"6dbe9898.8ce018","order":5,"width":2,"height":1,"passthru":false,"label":"Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1110,"y":700,"wires":[["25c788b5.9b24b8"]]},{"id":"c5aad6b0.808f58","type":"ui_button","z":"2b01ef93.61835","name":"","group":"b6cbb222.a928d","order":5,"width":2,"height":1,"passthru":false,"label":"Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1110,"y":740,"wires":[["2aaf532b.dad02c"]]},{"id":"ffef2bef.71c7b8","type":"function","z":"2b01ef93.61835","name":"","func":"msg.payload={\"cmd\": \"load\",\"filename\":\"video/placeholder_a.m4v\",\"element\": \"slot_a\"};\nreturn msg;\n","outputs":1,"noerr":0,"x":1230,"y":660,"wires":[["7ae27084.c8e78"]]},{"id":"25c788b5.9b24b8","type":"function","z":"2b01ef93.61835","name":"","func":"msg.payload={\"cmd\": \"load\",\"filename\":\"video/placeholder_b.m4v\",\"element\": \"slot_b\"};\nreturn msg;\n","outputs":1,"noerr":0,"x":1230,"y":700,"wires":[["7ae27084.c8e78"]]},{"id":"2aaf532b.dad02c","type":"function","z":"2b01ef93.61835","name":"","func":"msg.payload={\"cmd\": \"load\",\"filename\":\"video/placeholder_c.m4v\",\"element\": \"slot_c\"};\nreturn msg;\n","outputs":1,"noerr":0,"x":1230,"y":740,"wires":[["7ae27084.c8e78"]]},{"id":"6630bd3b.eaeef4","type":"ui_button","z":"2b01ef93.61835","name":"","group":"bf87a5c0.c18fe8","order":2,"width":0,"height":0,"passthru":false,"label":"Calesita","tooltip":"","color":"","bgcolor":"","icon":"","payload":"stepslib/calesita.mp4","payloadType":"str","topic":"","x":100,"y":120,"wires":[["24a10ad9.da32c6"]]},{"id":"d77c4c8f.bb5c2","type":"ui_button","z":"2b01ef93.61835","name":"","group":"bf87a5c0.c18fe8","order":1,"width":0,"height":0,"passthru":false,"label":"Giro de tres","tooltip":"","color":"","bgcolor":"","icon":"","payload":"stepslib/girodetres.mp4","payloadType":"str","topic":"","x":110,"y":80,"wires":[["24a10ad9.da32c6"]]},{"id":"afeed394.3d63c","type":"ui_button","z":"2b01ef93.61835","name":"","group":"bf87a5c0.c18fe8","order":3,"width":0,"height":0,"passthru":false,"label":"Incrocio e cambio peso donna","tooltip":"","color":"","bgcolor":"","icon":"","payload":"stepslib/incrocio_e_cambio_peso_tramite_rotazione.mp4","payloadType":"str","topic":"","x":170,"y":160,"wires":[["24a10ad9.da32c6"]]},{"id":"e62c7fc3.dbbad","type":"ui_button","z":"2b01ef93.61835","name":"","group":"b1e4af85.6726","order":4,"width":2,"height":1,"passthru":false,"label":"Pause","tooltip":"","color":"","bgcolor":"","icon":"fa-pause","payload":"{\"cmd\":\"pause\",\"element\":\"slot_a\"}","payloadType":"json","topic":"","x":770,"y":420,"wires":[["fda68db8.803b3"]]},{"id":"48aed981.411158","type":"ui_button","z":"2b01ef93.61835","name":"","group":"6dbe9898.8ce018","order":4,"width":2,"height":1,"passthru":false,"label":"Pause","tooltip":"","color":"","bgcolor":"","icon":"fa-pause","payload":"{\"cmd\":\"pause\",\"element\":\"slot_b\"}","payloadType":"json","topic":"","x":770,"y":460,"wires":[["fda68db8.803b3"]]},{"id":"84de914d.52c3d","type":"ui_button","z":"2b01ef93.61835","name":"","group":"b6cbb222.a928d","order":4,"width":2,"height":1,"passthru":false,"label":"Pause","tooltip":"","color":"","bgcolor":"","icon":"fa-pause","payload":"{\"cmd\":\"pause\",\"element\":\"slot_c\"}","payloadType":"json","topic":"","x":770,"y":500,"wires":[["fda68db8.803b3"]]},{"id":"82c4609f.63de4","type":"ui_button","z":"2b01ef93.61835","name":"","group":"b1e4af85.6726","order":2,"width":2,"height":1,"passthru":false,"label":"Play","tooltip":"","color":"","bgcolor":"","icon":"fa-play","payload":"{\"cmd\":\"play\",\"playbackRate\":1,\"element\":\"slot_a\"}","payloadType":"json","topic":"","x":730,"y":280,"wires":[["fda68db8.803b3"]]},{"id":"80447570.dc6038","type":"ui_button","z":"2b01ef93.61835","name":"","group":"6dbe9898.8ce018","order":2,"width":2,"height":1,"passthru":false,"label":"Play","tooltip":"","color":"","bgcolor":"","icon":"fa-play","payload":"{\"cmd\":\"play\",\"playbackRate\":1,\"element\":\"slot_b\"}","payloadType":"json","topic":"","x":730,"y":320,"wires":[["fda68db8.803b3"]]},{"id":"b11a4d1c.3e9eb","type":"ui_button","z":"2b01ef93.61835","name":"","group":"b6cbb222.a928d","order":2,"width":2,"height":1,"passthru":false,"label":"Play","tooltip":"","color":"","bgcolor":"","icon":"fa-play","payload":"{\"cmd\":\"play\",\"playbackRate\":1,\"element\":\"slot_c\"}","payloadType":"json","topic":"","x":730,"y":360,"wires":[["fda68db8.803b3"]]},{"id":"d2866398.ea9e5","type":"ui_button","z":"2b01ef93.61835","name":"","group":"b1e4af85.6726","order":3,"width":2,"height":1,"passthru":false,"label":"Slow","tooltip":"","color":"","bgcolor":"","icon":"fa-hourglass","payload":"{\"cmd\":\"play\",\"playbackRate\":0.5,\"element\":\"slot_a\"}","payloadType":"json","topic":"","x":810,"y":560,"wires":[["fda68db8.803b3"]]},{"id":"1cb6d17b.75bbcf","type":"ui_button","z":"2b01ef93.61835","name":"","group":"6dbe9898.8ce018","order":3,"width":2,"height":1,"passthru":false,"label":"Slow","tooltip":"","color":"","bgcolor":"","icon":"fa-hourglass","payload":"{\"cmd\":\"play\",\"playbackRate\":0.5,\"element\":\"slot_b\"}","payloadType":"json","topic":"","x":810,"y":600,"wires":[["fda68db8.803b3"]]},{"id":"ddd1b88.cdbfd48","type":"ui_button","z":"2b01ef93.61835","name":"","group":"b6cbb222.a928d","order":3,"width":2,"height":1,"passthru":false,"label":"Slow","tooltip":"","color":"","bgcolor":"","icon":"fa-hourglass","payload":"{\"cmd\":\"play\",\"playbackRate\":0.5,\"element\":\"slot_c\"}","payloadType":"json","topic":"","x":810,"y":640,"wires":[["fda68db8.803b3"]]},{"id":"18005069.498fb","type":"mqtt out","z":"2b01ef93.61835","name":"","topic":"tangowall/cmd","qos":"","retain":"","broker":"ddb7e1b9.5483a","x":500,"y":840,"wires":[]},{"id":"d5150d65.193ab","type":"mqtt out","z":"98e06a76.dc4e68","name":"","topic":"tangowall/cmd","qos":"","retain":"","broker":"ddb7e1b9.5483a","x":960,"y":1300,"wires":[]},{"id":"b95e0b45.c46368","type":"ui_button","z":"2b01ef93.61835","name":"","group":"62ceb85a.60ff88","order":2,"width":4,"height":1,"passthru":true,"label":"TangoWall","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"cmd\":\"tangowall_layer\"}","payloadType":"json","topic":"","x":930,"y":840,"wires":[["4c632647.4f5f08"]]},{"id":"4c632647.4f5f08","type":"mqtt out","z":"2b01ef93.61835","name":"","topic":"tangowall/cmd","qos":"","retain":"","broker":"ddb7e1b9.5483a","x":1180,"y":860,"wires":[]},{"id":"f4fe0fd3.d87ed","type":"mqtt in","z":"98e06a76.dc4e68","name":"","topic":"tangowall/youtube_id","qos":"2","datatype":"auto","broker":"ddb7e1b9.5483a","x":780,"y":140,"wires":[["83fa15b2.ceac38"]]},{"id":"e49638de.33c208","type":"mqtt out","z":"98e06a76.dc4e68","name":"","topic":"tangowall/cmd","qos":"","retain":"","broker":"ddb7e1b9.5483a","x":1180,"y":140,"wires":[]},{"id":"83fa15b2.ceac38","type":"function","z":"98e06a76.dc4e68","name":"","func":"msg.payload={\n    \"cmd\":\"youtube_load\",\n    \"value\":msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":140,"wires":[["e49638de.33c208"]]},{"id":"6fae481b.775ff8","type":"ui_button","z":"2b01ef93.61835","name":"","group":"62ceb85a.60ff88","order":4,"width":4,"height":1,"passthru":false,"label":"Hide","tooltip":"","color":"","bgcolor":"","icon":"fa-eye-slash","payload":"{\"cmd\":\"hide_all_layers\"}","payloadType":"json","topic":"","x":330,"y":840,"wires":[["18005069.498fb"]]},{"id":"3aeb24de.cbb04c","type":"inject","z":"2b01ef93.61835","name":"Hide","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":840,"wires":[["6fae481b.775ff8"]]},{"id":"b7fbf5a3.fc4738","type":"ui_switch","z":"502ab7e5.bc4108","name":"","label":"Occhio di bue","tooltip":"","group":"e037ee73.dbfc8","order":3,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":240,"y":760,"wires":[["fc1c06f.1afb9f8"]]},{"id":"fc1c06f.1afb9f8","type":"mqtt out","z":"502ab7e5.bc4108","name":"","topic":"sonoff-s26/017/cmnd/POWER","qos":"","retain":"","broker":"d8b501d4.7144e","x":490,"y":760,"wires":[]},{"id":"bfaebef3.0d26","type":"mqtt out","z":"e83589f7.e06308","name":"","topic":"tangowall/cmd","qos":"","retain":"false","broker":"ddb7e1b9.5483a","x":480,"y":40,"wires":[]},{"id":"ea52e09f.618b3","type":"function","z":"e83589f7.e06308","name":"","func":"msg.payload = {\n    \"cmd\":\"youtube_load\",\n    \"value\": msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":40,"wires":[["bfaebef3.0d26"]]},{"id":"c843196b.0821d8","type":"ui_ui_control","z":"98e06a76.dc4e68","name":"","events":"all","x":340,"y":1300,"wires":[["31629602.34e22a"]]},{"id":"31629602.34e22a","type":"switch","z":"98e06a76.dc4e68","name":"","property":"name","propertyType":"msg","rules":[{"t":"eq","v":"Youtube","vt":"str"},{"t":"eq","v":"Camera","vt":"str"},{"t":"eq","v":"TangoWall","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":490,"y":1300,"wires":[["1b32c29a.f3c73d"],["3b9dc5d.6d2a43a"],["957cb15a.2d78c","f56b511d.4ae2b"]]},{"id":"1b32c29a.f3c73d","type":"function","z":"98e06a76.dc4e68","name":"partywall_layer","func":"msg.payload={\n    \"cmd\": \"partywall_layer\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":1260,"wires":[["d5150d65.193ab"]]},{"id":"957cb15a.2d78c","type":"function","z":"98e06a76.dc4e68","name":"tangowall_layer","func":"msg.payload={\n    \"cmd\": \"tangowall_layer\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":1340,"wires":[["d5150d65.193ab"]]},{"id":"dfa0589b.0547c8","type":"ui_button","z":"2b01ef93.61835","name":"","group":"bf87a5c0.c18fe8","order":4,"width":0,"height":0,"passthru":false,"label":"Giro y contragiro de tres","tooltip":"","color":"","bgcolor":"","icon":"","payload":"stepslib/video1.mp4","payloadType":"str","topic":"","x":150,"y":200,"wires":[["24a10ad9.da32c6"]]},{"id":"4db587e5.37c2c8","type":"ui_button","z":"2b01ef93.61835","name":"","group":"bf87a5c0.c18fe8","order":5,"width":0,"height":0,"passthru":false,"label":"Rebote/Ocho adelante","tooltip":"","color":"","bgcolor":"","icon":"","payload":"stepslib/ReboteOchoAdelante.mp4","payloadType":"str","topic":"","x":140,"y":240,"wires":[["24a10ad9.da32c6"]]},{"id":"a79106ae.7ff3a8","type":"ui_button","z":"2b01ef93.61835","name":"","group":"bf87a5c0.c18fe8","order":6,"width":0,"height":0,"passthru":false,"label":"Sequenza 1","tooltip":"Salida con fuori asse, incrocio, giro de tres con traspié, calesita, planeo, doppio boleo a terra ","color":"","bgcolor":"","icon":"","payload":"stepslib/video3.mp4","payloadType":"str","topic":"","x":110,"y":280,"wires":[["24a10ad9.da32c6"]]},{"id":"dd0a422c.d7bc3","type":"ui_button","z":"2b01ef93.61835","name":"","group":"bf87a5c0.c18fe8","order":7,"width":0,"height":0,"passthru":false,"label":"Sequenza 2","tooltip":"Incrocio, lapiz, giro de cinco cruzado","color":"","bgcolor":"","icon":"","payload":"stepslib/video4.mp4","payloadType":"str","topic":"","x":110,"y":320,"wires":[["24a10ad9.da32c6"]]},{"id":"4dd56e64.6758b","type":"function","z":"9803b167.6512d","name":"","func":"var data = {\n    \"cmd\":\"loadpage\",\n    \"value\":\"/manhattan/video.html?video=\" + msg.payload\n}\nmsg.payload=data;\n//msg.payload=\"python /home/pi/chromium_remote.py \" + \"http://baraonda.acmesystems.it/manhattan/video.html?video=\" + msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":160,"wires":[["cfd8e145.a296b"]]},{"id":"cfd8e145.a296b","type":"mqtt out","z":"9803b167.6512d","name":"cmd","topic":"/manhattan/panel1/cmd","qos":"","retain":"","broker":"5bd9aa2d.e6e094","x":470,"y":100,"wires":[]},{"id":"8a8d7611.76e288","type":"function","z":"fdf2b64d.f37c28","name":"","func":"var data = {\n    \"cmd\":\"loadpage\",\n    \"value\":\"/manhattan/\" + msg.payload\n}\nmsg.payload=data;\nreturn msg;\n","outputs":1,"noerr":0,"x":230,"y":160,"wires":[["af0423d4.f427f"]]},{"id":"af0423d4.f427f","type":"mqtt out","z":"fdf2b64d.f37c28","name":"cmd","topic":"/manhattan/panel1/cmd","qos":"","retain":"","broker":"5bd9aa2d.e6e094","x":450,"y":220,"wires":[]},{"id":"86def261.e8f4e","type":"json","z":"98e06a76.dc4e68","name":"","property":"payload","action":"","pretty":false,"x":670,"y":460,"wires":[["dabca7fb.1f39d8"]]},{"id":"e7bc5019.09658","type":"inject","z":"98e06a76.dc4e68","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":460,"wires":[["7ed278b7.da8c28"]]},{"id":"bdf1ddb9.68acb","type":"file in","z":"98e06a76.dc4e68","name":"Read file","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":680,"y":400,"wires":[["86def261.e8f4e"]]},{"id":"8ce6ea5.fecda18","type":"function","z":"98e06a76.dc4e68","name":"Get Video Id","func":"if (flow.get('pl_state')===true) {\n    var pl_index=flow.get('pl_index');\n    var pl_playlist = flow.get('pl_playlist');\n    \n    node.status({fill:\"green\",shape:\"dot\", text:pl_index + \":\" + pl_playlist[pl_index].title});\n    msg.payload=pl_playlist[pl_index].id;\n\n    return msg;\n}\n\nnode.status({fill:\"red\",shape:\"dot\",text:\"stop\"});\n","outputs":1,"noerr":0,"x":1010,"y":460,"wires":[["ecffabe9.433e78"]]},{"id":"1e6856a.b0f34a9","type":"function","z":"98e06a76.dc4e68","name":"","func":"if (msg.payload===\"off\") {\n    flow.set('pl_index',-1);\n    msg.payload=\"blank.html\";\n    return msg;\n}\n\nif (msg.payload===\"on\") {\n    flow.set('pl_index',0);\n}\n","outputs":1,"noerr":0,"x":770,"y":1140,"wires":[[]]},{"id":"96130b3e.e1b5b8","type":"inject","z":"98e06a76.dc4e68","name":"","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":1140,"wires":[["b36dce49.7ca9b"]]},{"id":"b36dce49.7ca9b","type":"ui_button","z":"98e06a76.dc4e68","name":"","group":"2361d4d.055ec2c","order":19,"width":4,"height":1,"passthru":true,"label":"Stop playlist","tooltip":"","color":"","bgcolor":"","icon":"","payload":"off","payloadType":"str","topic":"","x":510,"y":1140,"wires":[["1e6856a.b0f34a9"]]},{"id":"7ed278b7.da8c28","type":"ui_button","z":"98e06a76.dc4e68","name":"","group":"2361d4d.055ec2c","order":4,"width":2,"height":1,"passthru":true,"label":"Disco","tooltip":"","color":"","bgcolor":"","icon":"","payload":"on","payloadType":"str","topic":"/var/www/html/playlist/disco.json","x":270,"y":460,"wires":[["1e6856a.b0f34a9","d6773437.bb50d8"]]},{"id":"d6773437.bb50d8","type":"function","z":"98e06a76.dc4e68","name":"Filename","func":"msg.filename=msg.topic;\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":560,"wires":[["bdf1ddb9.68acb"]]},{"id":"ecffabe9.433e78","type":"subflow:e83589f7.e06308","z":"98e06a76.dc4e68","name":"","x":1160,"y":460,"wires":[]},{"id":"287c23e7.e7430c","type":"inject","z":"98e06a76.dc4e68","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":420,"wires":[["a75a15c7.d5e9f8"]]},{"id":"a75a15c7.d5e9f8","type":"ui_button","z":"98e06a76.dc4e68","name":"","group":"2361d4d.055ec2c","order":16,"width":2,"height":1,"passthru":true,"label":"Natale","tooltip":"","color":"","bgcolor":"","icon":"","payload":"on","payloadType":"str","topic":"/var/www/html/playlist/natale.json","x":270,"y":420,"wires":[["d6773437.bb50d8","1e6856a.b0f34a9"]]},{"id":"db4df34.45a621","type":"comment","z":"98e06a76.dc4e68","name":"Playlist","info":"","x":90,"y":360,"wires":[]},{"id":"6ce73e24.9a2d9","type":"mqtt in","z":"98e06a76.dc4e68","name":"","topic":"tangowall/finished","qos":"2","datatype":"utf8","broker":"ddb7e1b9.5483a","x":170,"y":300,"wires":[["9dc8cf44.626be"]]},{"id":"4e07c697.62b6b8","type":"ui_button","z":"2b01ef93.61835","name":"","group":"bf87a5c0.c18fe8","order":8,"width":0,"height":0,"passthru":false,"label":"Uscita alternativa","tooltip":"","color":"","bgcolor":"","icon":"","payload":"stepslib/2019_12_03.mp4","payloadType":"str","topic":"","x":130,"y":360,"wires":[["24a10ad9.da32c6"]]},{"id":"91f61d3b.8160e","type":"mqtt out","z":"2b01ef93.61835","name":"","topic":"tangowall/cmd","qos":"","retain":"","broker":"ddb7e1b9.5483a","x":1020,"y":960,"wires":[]},{"id":"2ae37b9f.69eda4","type":"inject","z":"2b01ef93.61835","name":"Tangowall layer","topic":"","payload":"{\"cmd\":\"tangowall_layer\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":780,"y":940,"wires":[["91f61d3b.8160e"]]},{"id":"99842cc4.8c10c","type":"inject","z":"2b01ef93.61835","name":"PartyWall layer","topic":"","payload":"{\"cmd\":\"partywall_layer\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":780,"y":980,"wires":[["91f61d3b.8160e"]]},{"id":"4ea41bc3.bea184","type":"comment","z":"98e06a76.dc4e68","name":"Commutazione schermate da menu totem","info":"","x":440,"y":1220,"wires":[]},{"id":"5249801d.a5ef4","type":"inject","z":"2b01ef93.61835","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":760,"y":840,"wires":[["b95e0b45.c46368"]]},{"id":"409f808e.9d74c","type":"inject","z":"2b01ef93.61835","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":760,"y":880,"wires":[["685d04fd.1b87dc"]]},{"id":"528b7068.0bc19","type":"comment","z":"2b01ef93.61835","name":"","info":"Commutazione layer","x":740,"y":800,"wires":[]},{"id":"f56b511d.4ae2b","type":"function","z":"98e06a76.dc4e68","name":"tangowall_layer","func":"msg.payload={\n    \"cmd\": \"youtube_pause\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":1380,"wires":[["d5150d65.193ab"]]},{"id":"dabca7fb.1f39d8","type":"function","z":"98e06a76.dc4e68","name":"Playlist","func":"flow.set(\"pl_index\",0);\nflow.set(\"pl_state\",true);\nflow.set(\"pl_playlist\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":460,"wires":[["8ce6ea5.fecda18","588d868.81dd678"]]},{"id":"9dc8cf44.626be","type":"delay","z":"98e06a76.dc4e68","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":350,"y":300,"wires":[["e17179db.4d1868"]]},{"id":"e452bf4a.fa396","type":"inject","z":"98e06a76.dc4e68","name":"Next","topic":"","payload":"Next","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":240,"wires":[["c43f9e34.a7d75"]]},{"id":"a1f557be.88b348","type":"inject","z":"98e06a76.dc4e68","name":"Prev","topic":"","payload":"Prev","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":200,"wires":[["dd0a3d2e.89878"]]},{"id":"e8bc82f8.9dd8","type":"function","z":"98e06a76.dc4e68","name":"show pl_index","func":"pl_index=flow.get(\"pl_index\"); \nnode.status({text: \"pl_index=\" + pl_index});","outputs":0,"noerr":0,"x":1160,"y":300,"wires":[]},{"id":"dba8d236.ea149","type":"inject","z":"98e06a76.dc4e68","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":950,"y":300,"wires":[["e8bc82f8.9dd8"]]},{"id":"e17179db.4d1868","type":"function","z":"98e06a76.dc4e68","name":"Index++","func":"var pl_index=flow.get(\"pl_index\");\n\nif (pl_index!=-1) {\n    var pl_playlist=flow.get(\"pl_playlist\");\n\n    if (pl_index<(pl_playlist.length-1)) {\n        pl_index++; \n    } else {\n        pl_index=0;    \n    }\n    flow.set('pl_index',pl_index);\n    node.status({text:\"pl_index=\" + pl_index});\n    return msg;\n}\n\nnode.status({text:\"Disabled\"});\n","outputs":1,"noerr":0,"x":560,"y":260,"wires":[["8ce6ea5.fecda18"]]},{"id":"8b7fce5f.136fb","type":"function","z":"98e06a76.dc4e68","name":"Index--","func":"var pl_index=flow.get(\"pl_index\");\n\nif (pl_index!=-1) {\n    var pl_playlist=flow.get(\"pl_playlist\");\n\n   if (pl_index===0) {\n        pl_index=(pl_playlist.length-1);    \n    } else {\n        pl_index--;\n    }\n    \n    node.status({text:\"pl_index=\" + pl_index});\n    flow.set(\"pl_index\",pl_index);\n    return msg;\n}\n\nnode.status({text:\"Disabled\"});\n","outputs":1,"noerr":0,"x":560,"y":200,"wires":[["8ce6ea5.fecda18"]]},{"id":"24330ab1.d19976","type":"inject","z":"98e06a76.dc4e68","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":950,"y":260,"wires":[["68a04404.c0a82c"]]},{"id":"68a04404.c0a82c","type":"function","z":"98e06a76.dc4e68","name":"pl_index=-1","func":"flow.set(\"pl_index\",-1); \n","outputs":0,"noerr":0,"x":1150,"y":260,"wires":[]},{"id":"dd0a3d2e.89878","type":"ui_button","z":"98e06a76.dc4e68","name":"","group":"6272c4a1.8877ac","order":3,"width":2,"height":1,"passthru":true,"label":"Prev","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":290,"y":200,"wires":[["8b7fce5f.136fb"]]},{"id":"c43f9e34.a7d75","type":"ui_button","z":"98e06a76.dc4e68","name":"","group":"6272c4a1.8877ac","order":4,"width":2,"height":1,"passthru":true,"label":"Next","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":290,"y":240,"wires":[["e17179db.4d1868"]]},{"id":"762e1095.6bec","type":"inject","z":"98e06a76.dc4e68","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":500,"wires":[["f03e2441.82e008"]]},{"id":"f03e2441.82e008","type":"ui_button","z":"98e06a76.dc4e68","name":"","group":"2361d4d.055ec2c","order":13,"width":2,"height":1,"passthru":true,"label":"Anni 90","tooltip":"","color":"","bgcolor":"","icon":"","payload":"on","payloadType":"str","topic":"/var/www/html/playlist/anni90.json","x":280,"y":500,"wires":[["d6773437.bb50d8"]]},{"id":"54cbfe4f.0ef3a","type":"ui_button","z":"98e06a76.dc4e68","name":"","group":"6272c4a1.8877ac","order":5,"width":4,"height":1,"passthru":false,"label":"Hide","tooltip":"","color":"","bgcolor":"","icon":"fa-eye-slash","payload":"{\"cmd\":\"hide_all_layers\"}","payloadType":"json","topic":"","x":1610,"y":260,"wires":[["208a88a3.274668"]]},{"id":"9129a99b.5d7f88","type":"inject","z":"98e06a76.dc4e68","name":"Hide","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1430,"y":260,"wires":[["54cbfe4f.0ef3a"]]},{"id":"5d383bed.e56e74","type":"ui_button","z":"98e06a76.dc4e68","name":"","group":"6272c4a1.8877ac","order":6,"width":4,"height":1,"passthru":true,"label":"Bigclock","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"cmd\":\"bigclock_layer\"}","payloadType":"json","topic":"","x":1620,"y":300,"wires":[["208a88a3.274668"]]},{"id":"9a5e7479.9b0198","type":"inject","z":"98e06a76.dc4e68","name":"Bigclock","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1440,"y":300,"wires":[["5d383bed.e56e74"]]},{"id":"824ed02c.99af9","type":"ui_button","z":"98e06a76.dc4e68","name":"","group":"6272c4a1.8877ac","order":9,"width":2,"height":1,"passthru":true,"label":"Frame ON","tooltip":"","color":"","bgcolor":"","icon":"fa-eye","payload":"{\"cmd\":\"visibility\",\"element\":\"frame_layer\",\"value\":true}","payloadType":"json","topic":"","x":1630,"y":380,"wires":[["208a88a3.274668"]]},{"id":"464c3fb0.0ef4e","type":"inject","z":"98e06a76.dc4e68","name":"Show","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1430,"y":380,"wires":[["824ed02c.99af9"]]},{"id":"54097120.c3eff","type":"ui_button","z":"98e06a76.dc4e68","name":"","group":"6272c4a1.8877ac","order":10,"width":2,"height":1,"passthru":true,"label":"Frame OFF","tooltip":"","color":"","bgcolor":"","icon":"fa-eye-slash","payload":"{\"cmd\":\"visibility\",\"element\":\"frame_layer\",\"value\":false}","payloadType":"json","topic":"","x":1630,"y":420,"wires":[["208a88a3.274668"]]},{"id":"d2b55b82.0d8318","type":"inject","z":"98e06a76.dc4e68","name":"Hide","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1430,"y":420,"wires":[["54097120.c3eff"]]},{"id":"945c169a.e3d0c8","type":"inject","z":"98e06a76.dc4e68","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":580,"wires":[["405acf6c.06881"]]},{"id":"405acf6c.06881","type":"ui_button","z":"98e06a76.dc4e68","name":"","group":"2361d4d.055ec2c","order":11,"width":2,"height":1,"passthru":true,"label":"Anni 50","tooltip":"","color":"","bgcolor":"","icon":"","payload":"on","payloadType":"str","topic":"/var/www/html/playlist/anni50.json","x":280,"y":580,"wires":[["d6773437.bb50d8"]]},{"id":"88f7f9dd.c40618","type":"inject","z":"98e06a76.dc4e68","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":660,"wires":[["49920504.96e31c"]]},{"id":"49920504.96e31c","type":"ui_button","z":"98e06a76.dc4e68","name":"","group":"2361d4d.055ec2c","order":15,"width":2,"height":1,"passthru":true,"label":"Latina","tooltip":"","color":"","bgcolor":"","icon":"","payload":"on","payloadType":"str","topic":"/var/www/html/playlist/latina.json","x":270,"y":660,"wires":[["d6773437.bb50d8"]]},{"id":"5012eb3b.d84b74","type":"ui_button","z":"2b01ef93.61835","name":"","group":"bf87a5c0.c18fe8","order":9,"width":0,"height":0,"passthru":false,"label":"17 dicembre 2019","tooltip":"","color":"","bgcolor":"","icon":"","payload":"stepslib/2019_12_17.mp4","payloadType":"str","topic":"","x":130,"y":400,"wires":[["24a10ad9.da32c6"]]},{"id":"ba74adde.ca849","type":"ui_button","z":"2b01ef93.61835","name":"","group":"bf87a5c0.c18fe8","order":10,"width":0,"height":0,"passthru":false,"label":"Giro da un lato","tooltip":"","color":"","bgcolor":"","icon":"","payload":"stepslib/girodaunlato.mp4","payloadType":"str","topic":"","x":120,"y":440,"wires":[["24a10ad9.da32c6"]]},{"id":"76c618fb.453018","type":"inject","z":"98e06a76.dc4e68","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":700,"wires":[["3df61aec.3a0d66"]]},{"id":"3df61aec.3a0d66","type":"ui_button","z":"98e06a76.dc4e68","name":"","group":"2361d4d.055ec2c","order":5,"width":2,"height":1,"passthru":true,"label":"Salsa","tooltip":"","color":"","bgcolor":"","icon":"","payload":"on","payloadType":"str","topic":"/var/www/html/playlist/salsa.json","x":270,"y":700,"wires":[["d6773437.bb50d8"]]},{"id":"9e81ffab.c52e5","type":"inject","z":"98e06a76.dc4e68","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":740,"wires":[["4ebf25dc.4262dc"]]},{"id":"4ebf25dc.4262dc","type":"ui_button","z":"98e06a76.dc4e68","name":"","group":"2361d4d.055ec2c","order":1,"width":2,"height":1,"passthru":true,"label":"Tango","tooltip":"","color":"","bgcolor":"","icon":"","payload":"on","payloadType":"str","topic":"/var/www/html/playlist/tango.json","x":270,"y":740,"wires":[["d6773437.bb50d8"]]},{"id":"d4c5bbc2.134338","type":"function","z":"98e06a76.dc4e68","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":1260,"wires":[[]]},{"id":"3fb6b452.0106fc","type":"inject","z":"98e06a76.dc4e68","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1160,"y":1260,"wires":[["d4c5bbc2.134338"]]},{"id":"588d868.81dd678","type":"ui_table","z":"98e06a76.dc4e68","group":"6492f81f.5036f8","name":"","order":1,"width":12,"height":16,"columns":[],"outputs":1,"cts":true,"x":990,"y":560,"wires":[[]]},{"id":"346ff810.47c5f8","type":"inject","z":"98e06a76.dc4e68","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":540,"wires":[["2de22042.7fba8"]]},{"id":"2de22042.7fba8","type":"ui_button","z":"98e06a76.dc4e68","name":"","group":"2361d4d.055ec2c","order":12,"width":2,"height":1,"passthru":true,"label":"Anni 80","tooltip":"","color":"","bgcolor":"","icon":"","payload":"on","payloadType":"str","topic":"/var/www/html/playlist/anni80.json","x":280,"y":540,"wires":[["d6773437.bb50d8"]]},{"id":"223874f9.e2f44c","type":"inject","z":"98e06a76.dc4e68","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":620,"wires":[["a17c0c5a.3ee9f"]]},{"id":"a17c0c5a.3ee9f","type":"ui_button","z":"98e06a76.dc4e68","name":"","group":"2361d4d.055ec2c","order":9,"width":2,"height":1,"passthru":true,"label":"Boogie","tooltip":"","color":"","bgcolor":"","icon":"","payload":"on","payloadType":"str","topic":"/var/www/html/playlist/boogiewoogie.json","x":280,"y":620,"wires":[["d6773437.bb50d8"]]},{"id":"388407bb.8f8358","type":"inject","z":"98e06a76.dc4e68","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1020,"wires":[["7b8219e2.1bd058"]]},{"id":"7b8219e2.1bd058","type":"ui_button","z":"98e06a76.dc4e68","name":"","group":"2361d4d.055ec2c","order":8,"width":2,"height":1,"passthru":true,"label":"Kizomba","tooltip":"","color":"","bgcolor":"","icon":"","payload":"on","payloadType":"str","topic":"/var/www/html/playlist/kizomba.json","x":280,"y":1020,"wires":[["d6773437.bb50d8"]]},{"id":"52d753de.2e57ac","type":"inject","z":"98e06a76.dc4e68","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":780,"wires":[["2f74fd2a.21b9e2"]]},{"id":"2f74fd2a.21b9e2","type":"ui_button","z":"98e06a76.dc4e68","name":"","group":"2361d4d.055ec2c","order":2,"width":2,"height":1,"passthru":true,"label":"Milonga","tooltip":"","color":"","bgcolor":"","icon":"","payload":"on","payloadType":"str","topic":"/var/www/html/playlist/milonga.json","x":280,"y":780,"wires":[["d6773437.bb50d8"]]},{"id":"3da24c5.da14ab4","type":"inject","z":"98e06a76.dc4e68","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":860,"wires":[["da0646aa.8c6378"]]},{"id":"da0646aa.8c6378","type":"ui_button","z":"98e06a76.dc4e68","name":"","group":"2361d4d.055ec2c","order":6,"width":2,"height":1,"passthru":true,"label":"Merengue","tooltip":"","color":"","bgcolor":"","icon":"","payload":"on","payloadType":"str","topic":"/var/www/html/playlist/merengue.json","x":280,"y":860,"wires":[["d6773437.bb50d8"]]},{"id":"3ccbc231.2590be","type":"inject","z":"98e06a76.dc4e68","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":900,"wires":[["f8eee185.b49fd"]]},{"id":"f8eee185.b49fd","type":"ui_button","z":"98e06a76.dc4e68","name":"","group":"2361d4d.055ec2c","order":10,"width":2,"height":1,"passthru":true,"label":"Rock","tooltip":"","color":"","bgcolor":"","icon":"","payload":"on","payloadType":"str","topic":"/var/www/html/playlist/rock.json","x":270,"y":900,"wires":[["d6773437.bb50d8"]]},{"id":"fb120737.428928","type":"inject","z":"98e06a76.dc4e68","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":940,"wires":[["36d02554.e329ca"]]},{"id":"36d02554.e329ca","type":"ui_button","z":"98e06a76.dc4e68","name":"","group":"2361d4d.055ec2c","order":14,"width":2,"height":1,"passthru":true,"label":"ANNI 2000","tooltip":"","color":"","bgcolor":"","icon":"","payload":"on","payloadType":"str","topic":"/var/www/html/playlist/varie.json","x":290,"y":940,"wires":[["d6773437.bb50d8"]]},{"id":"8e4814ce.2d6f88","type":"inject","z":"98e06a76.dc4e68","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":980,"wires":[["79fc8cdc.f70174"]]},{"id":"79fc8cdc.f70174","type":"ui_button","z":"98e06a76.dc4e68","name":"","group":"2361d4d.055ec2c","order":17,"width":2,"height":1,"passthru":true,"label":"Ascolto","tooltip":"","color":"","bgcolor":"","icon":"","payload":"on","payloadType":"str","topic":"/var/www/html/playlist/ascolto.json","x":280,"y":980,"wires":[["d6773437.bb50d8"]]},{"id":"cc7f3c96.743e3","type":"inject","z":"98e06a76.dc4e68","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1060,"wires":[["4a131cc2.142784"]]},{"id":"4a131cc2.142784","type":"ui_button","z":"98e06a76.dc4e68","name":"","group":"2361d4d.055ec2c","order":7,"width":2,"height":1,"passthru":true,"label":"Bachada","tooltip":"","color":"","bgcolor":"","icon":"","payload":"on","payloadType":"str","topic":"/var/www/html/playlist/bachada.json","x":280,"y":1060,"wires":[["d6773437.bb50d8"]]},{"id":"685d04fd.1b87dc","type":"ui_button","z":"2b01ef93.61835","name":"","group":"62ceb85a.60ff88","order":1,"width":4,"height":1,"passthru":true,"label":"Specchio","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"cmd\":\"tangocam_layer\"}","payloadType":"json","topic":"","x":920,"y":880,"wires":[["4c632647.4f5f08"]]},{"id":"929239d6.f66d38","type":"inject","z":"98e06a76.dc4e68","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":820,"wires":[["5abee568.6cd73c"]]},{"id":"5abee568.6cd73c","type":"ui_button","z":"98e06a76.dc4e68","name":"","group":"2361d4d.055ec2c","order":3,"width":2,"height":1,"passthru":true,"label":"Vals","tooltip":"","color":"","bgcolor":"","icon":"","payload":"on","payloadType":"str","topic":"/var/www/html/playlist/milonga.json","x":270,"y":820,"wires":[["d6773437.bb50d8"]]},{"id":"60ca233.6778fdc","type":"ui_button","z":"2b01ef93.61835","name":"","group":"bf87a5c0.c18fe8","order":11,"width":0,"height":0,"passthru":false,"label":"Giro y contragiro de cinco (par)","tooltip":"","color":"","bgcolor":"","icon":"","payload":"stepslib/girodecinco.mp4","payloadType":"str","topic":"","x":170,"y":480,"wires":[["24a10ad9.da32c6"]]},{"id":"ac658956.b5ca68","type":"chatbot-command","z":"888773.9795189","name":"","command":"/tunneling","x":680,"y":960,"wires":[["326e6268.8dbc1e","4a417cc8.eadd04"]]},{"id":"326e6268.8dbc1e","type":"chatbot-message","z":"888773.9795189","name":"","message":[{"message":"ssh -p 2222 tanzilli@erp.acmesystems.it"}],"answer":false,"silent":false,"x":830,"y":960,"wires":[["22fc6717.dcf3d8"]]},{"id":"4a417cc8.eadd04","type":"exec","z":"888773.9795189","command":"ssh -fN -R 2222:localhost:22 tanzilli@erp.acmesystems.it","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1000,"y":1020,"wires":[[],[],[]]},{"id":"8cea832f.7a0a4","type":"ui_button","z":"98e06a76.dc4e68","name":"","group":"6272c4a1.8877ac","order":7,"width":4,"height":1,"passthru":true,"label":"Youtube","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"cmd\":\"partywall_layer\"}","payloadType":"json","topic":"","x":1620,"y":340,"wires":[["208a88a3.274668"]]},{"id":"fa35e3ca.e3ec6","type":"inject","z":"98e06a76.dc4e68","name":"Youtube","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1440,"y":340,"wires":[["8cea832f.7a0a4"]]},{"id":"e123e6bb.abaa08","type":"ui_button","z":"98e06a76.dc4e68","name":"","group":"3618a155.caf6ce","order":5,"width":0,"height":0,"passthru":true,"label":"Disco ball","tooltip":"","color":"","bgcolor":"","icon":"","payload":"zymRNmdzF2k","payloadType":"str","topic":"","x":1580,"y":560,"wires":[["205697af.f9cf78"]]},{"id":"b5ff9d71.72897","type":"inject","z":"98e06a76.dc4e68","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1430,"y":560,"wires":[["e123e6bb.abaa08"]]},{"id":"4224622e.ae42dc","type":"mqtt out","z":"98e06a76.dc4e68","name":"","topic":"tangowall/cmd","qos":"","retain":"","broker":"ddb7e1b9.5483a","x":2020,"y":560,"wires":[]},{"id":"205697af.f9cf78","type":"function","z":"98e06a76.dc4e68","name":"","func":"msg.payload = {\n    \"cmd\":\"youtube_load\",\n    \"value\": msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"x":1850,"y":560,"wires":[["4224622e.ae42dc"]]},{"id":"67bf5a0c.337e14","type":"ui_button","z":"98e06a76.dc4e68","name":"","group":"3618a155.caf6ce","order":1,"width":0,"height":0,"passthru":true,"label":"Caminetto","tooltip":"","color":"","bgcolor":"","icon":"","payload":"L_LUpnjgPso","payloadType":"str","topic":"","x":1590,"y":600,"wires":[["205697af.f9cf78"]]},{"id":"2be61ad8.f40306","type":"inject","z":"98e06a76.dc4e68","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1430,"y":600,"wires":[["67bf5a0c.337e14"]]},{"id":"363af2f5.90ed0e","type":"ui_button","z":"98e06a76.dc4e68","name":"","group":"3618a155.caf6ce","order":2,"width":0,"height":0,"passthru":true,"label":"Chordata","tooltip":"","color":"","bgcolor":"","icon":"","payload":"lQwxNS7IQR4","payloadType":"str","topic":"","x":1600,"y":980,"wires":[["205697af.f9cf78"]]},{"id":"f9e6ebc8.7a3318","type":"inject","z":"98e06a76.dc4e68","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1450,"y":980,"wires":[["363af2f5.90ed0e"]]},{"id":"18b201af.c44c7e","type":"ui_button","z":"98e06a76.dc4e68","name":"","group":"3618a155.caf6ce","order":7,"width":0,"height":0,"passthru":true,"label":"GoPro","tooltip":"","color":"","bgcolor":"","icon":"","payload":"vlDzYIIOYmM","payloadType":"str","topic":"","x":1590,"y":1020,"wires":[["205697af.f9cf78"]]},{"id":"e541da08.453fa8","type":"inject","z":"98e06a76.dc4e68","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1450,"y":1020,"wires":[["18b201af.c44c7e"]]},{"id":"e0b9783a.b50138","type":"ui_button","z":"98e06a76.dc4e68","name":"","group":"3618a155.caf6ce","order":8,"width":0,"height":0,"passthru":true,"label":"Bruna","tooltip":"","color":"","bgcolor":"","icon":"","payload":"7pTvB3c_tCM","payloadType":"str","topic":"","x":1590,"y":1060,"wires":[["205697af.f9cf78"]]},{"id":"ea13efdf.ec8a6","type":"inject","z":"98e06a76.dc4e68","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1450,"y":1060,"wires":[["e0b9783a.b50138"]]},{"id":"d9389fa7.4ae1b","type":"ui_button","z":"98e06a76.dc4e68","name":"","group":"3618a155.caf6ce","order":3,"width":0,"height":0,"passthru":true,"label":"Immobilcinque","tooltip":"","color":"","bgcolor":"","icon":"","payload":"aOT75Li_S2w","payloadType":"str","topic":"","x":1620,"y":1100,"wires":[["205697af.f9cf78"]]},{"id":"478a4ee9.fac41","type":"inject","z":"98e06a76.dc4e68","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1450,"y":1100,"wires":[["d9389fa7.4ae1b"]]},{"id":"a5cbbc77.4c792","type":"ui_button","z":"98e06a76.dc4e68","name":"","group":"3618a155.caf6ce","order":6,"width":0,"height":0,"passthru":true,"label":"Complesso VGRE","tooltip":"","color":"","bgcolor":"","icon":"","payload":"QvxoOHglpnI","payloadType":"str","topic":"","x":1630,"y":1140,"wires":[["205697af.f9cf78"]]},{"id":"8f7314da.d5bb78","type":"inject","z":"98e06a76.dc4e68","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1450,"y":1140,"wires":[["a5cbbc77.4c792"]]},{"id":"72135eb1.e5b36","type":"ui_button","z":"98e06a76.dc4e68","name":"","group":"3618a155.caf6ce","order":4,"width":0,"height":0,"passthru":true,"label":"Caleidoscopio","tooltip":"","color":"","bgcolor":"","icon":"","payload":"gxxqdrrpgZc","payloadType":"str","topic":"","x":1600,"y":640,"wires":[["205697af.f9cf78"]]},{"id":"973a9ad5.1e2188","type":"inject","z":"98e06a76.dc4e68","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1430,"y":640,"wires":[["72135eb1.e5b36"]]},{"id":"3b9dc5d.6d2a43a","type":"function","z":"98e06a76.dc4e68","name":"cam_layer","func":"msg.payload={\n    \"cmd\": \"cam_layer\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1300,"wires":[["d5150d65.193ab"]]},{"id":"b81e81ae.c1f29","type":"ui_text","z":"142549aa.98a106","group":"fb5aa2cc.b723c","order":0,"width":0,"height":0,"name":"","label":"Under Construction","format":"{{msg.payload}}","layout":"row-spread","x":180,"y":80,"wires":[]},{"id":"c6a383a7.f1325","type":"mqtt out","z":"98e06a76.dc4e68","name":"","topic":"tangowall/cmd","qos":"","retain":"","broker":"ddb7e1b9.5483a","x":1220,"y":820,"wires":[]},{"id":"a2bc2b8d.4c3988","type":"ui_button","z":"98e06a76.dc4e68","name":"","group":"6272c4a1.8877ac","order":8,"width":4,"height":1,"passthru":true,"label":"Specchio","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"cmd\":\"tangocam_layer\"}","payloadType":"json","topic":"","x":980,"y":820,"wires":[["c6a383a7.f1325"]]}]